/**
 * @name         Nightly
 * @description  A reimagined attempt on Discord's dark theme.
 * @author       Phibi
 * @version      1.0.0
 * @source       http://hasthelargehadroncolliderdestroyedtheworldyet.com/
 * @authorId     348609267252723713
 */

/* ⁞[IMPORTS]⁞ */
/* @import "URL_HERE"; */

/* ⁞[CUSTOMIZATION]⁞ */