/**
 * @name         Nightly
 * @description  A reimagined attempt on Discord's dark theme.
 * @author       Phibi
 * @version      1.1.0
 * @source       https://phibii.github.io/themes/core/Nightly.theme.css
 * @authorId     348609267252723713
 */

/* ⁞[IMPORTS]⁞ */
@import "https://phibii.github.io/themes/Nightly-Theme/nightly.css";

/* ⁞[CUSTOMIZATION]⁞ */