/**
 * @name Nightly
 * @description A reimagined attempt on Discord's dark theme
 * @author Phibi
 * @version 2.2.1
 * @authorId 348609267252723713
 * @source https://github.com/phibii/phibii.github.io/tree/master/BetterDiscord/themes/Nightly-Theme
 * @updateUrl https://phibii.github.io/BetterDiscord/theme-cores/Nightly.theme.css
 */

/* ⁞[IMPORTS]⁞ */
@import "https://phibii.github.io/BetterDiscord/themes/Nightly-Theme/nightly.css";

/* ⁞[CUSTOMIZATION]⁞ */