@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

/* ⁞[BASE]⁞ */

    /* Windows window titlebar*/
.typeWindows-1za-n7 {
    background-color: #1C1B29;
}
    /* Serverlist bg?*/
.scroller-2TZvBN {
    background-color: #1C1B29;
}