@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

/* ⁞[BASE]⁞ */

    /* Windows OS titlebar*/
.typeWindows-1za-n7 {
    background-color: #1C1B29;
}
.withFrame-haYltI {
    margin-top: 0px;
}

svg .wordmark-2iDDfm {
    display: none;
}
.wordmark-2iDDfm {
    background-image: url(https://i.imgur.com/elyW9lA.png);
}


/*https://i.imgur.com/elyW9lA.png*/

/* ⁞[SERVER LIST]⁞ */
.scroller-2TZvBN {
    background-color: #1C1B29;
}

/* ⁞[CHANNEL AND PRIVATE MESSAGE LIST]⁞ */
.scroller-1JbKMe {
    background-color: #1C1B29;
}